<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dtu.engtech.DB3_3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sk_rmbillede_2022_04_11_kl__16_58_20"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sk_rmbillede_2022_04_11_kl__16_58_20"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstimoteProximity103">
        <activity
            android:name="dtu.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EstimoteProximity103">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>